
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,100&display=swap'); */


header {
    background-color: #333;
    color: #fff;
    width: 100%;

    /* padding: 20px; */
    padding: 30px;
    padding-bottom: 70px;
    
}

#logo {

    width: 20rem; 
    height: 5rem;
    margin-left: 5rem;
    padding-right: 10px;
    float: left;
    /* padding-top: 30px; */
    /* padding-bottom: 50px; */
    
    

}
 a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #938c8c;
}
#header-text {
    padding-top: 10px;
    font-size: 36px; /* Adjust the font size of your header text */
    /* Add any additional styles for your header text */
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 600px) {
  
#header-text {
    
  text-align: center;
   
}
#logo{
    margin-left: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
  }
