<div>
    <section class="body">
      <div class="container">
        <div class="card mt-5 border-top1" style="width: 25rem;">
          <img
            src="../assets/image/high-availability-infrastructure-chart.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title title">
              DESIGNING HIGHLY AVAILABLE INFRASTRUCTURE
            </h5>
               <!-- add calender and logo and authar name  -->
            <p class="card-text" style="line-height: 2; font-size: 18px">
              Hello world, I'm Rahul and in this edition of my DevOps team blog, I
              would like to share some details .
            </p>
          </div>
          <div class="btn btn-primary">
            <a routerLink="/available" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- second card -->
        <div class="card mt-5 card2 border-top1" style="width: 25rem;">
          <img
            src="../assets/image/serverless lembda.jpg"
            class="card-img-top"
            alt="..."
            style="height: 100%"
          />
          <div class="card-body">
            <h5 class="card-title title">
              SERVERLESS FUTURE:CREATING YOUR FIRST AWS LAMBDA FUNCTION
            </h5>
            <p class="card-text" style="line-height: 2; font-size: 18px">
            Howdy techies! I'm Rahul with DevOpes team at Ecomm India Cloud IT which helps companies with cloud transformation and
            </p>
          </div>
          <div class="btn btn-primary">
            <a routerLink="/serverless" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- third card -->
        <div class="card mt-5  card2 border-top1" style="width: 25rem;">
          
          <img
            src="../assets/image/marketplace.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title title">
              E-COMMERCE-MARKETPLACE OR SET UP YOUR SITE?
            </h5>
            <p class="card-text" style="line-height: 2; font-size: 18px">
              Let's be honest, actually going shopping physically is slowly becomeing a things of the past as e-commerce takes over the 
            </p>   
          </div>
          <div class=" btn btn-primary">
            <a routerLink="/marketplace" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- third card end -->
      </div>
    </section>
  
    <section class="body">
      <div class="container">
        <div class="card mt-5 border-top1" style="width: 25rem;">
          <img
            src="../assets/image/cloud-storag.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title title">
              CLOUD MIGRATION - BENEFITS, CHALLENGES AND SOLUTIONS
            </h5>
            <p class="card-text" style="line-height: 2; font-size: 18px">
              Migration to the cloud has been a rising trend among organisations looking to go globle and become more agile. Moving data
            </p>
          </div>
          <div class=" btn btn-primary ">
            <a routerLink="/migration" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- second card -->
        <div class="card mt-5 card2  border-top1" style="width: 25rem;">
          <img
          src="../assets/image/domain-name1.jpg"
          class="card-img-top"
          alt="..."
          style="height: 100%"
        />
          <div class="card-body">
            <h5 class="card-title title">
              PREVENTING DOMAIN NAME FROUD
            </h5>
            <p class="card-text" style="line-height: 2; font-size: 18px">
             Online froud has existed foe well over a decade now and every day sees a new type, a new way
            </p>  
          </div>
          <div class=" btn btn-primary">
            <a routerLink="/domain-name" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- third card -->
        <div class="card mt-5  card2 border-top1" style="width: 25rem;">
          
          <img
            src="../assets/image/independence day.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title title">
              WE'RE COMMING HOME!
            </h5>
            <p class="card-text" style="line-height: 2; font-size: 18px">
              A very happy 70th Independence day to everyone! And this year, we're mifrating home! We're comming back to where it matters.
            </p>
          </div>
          <div class="btn btn-primary">
            <a  routerLink="/comming-home" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- third card end -->
      </div>
    </section>
    <section class="body">
      <div class="container">
        <div class="card mt-5 border-top1" style="width: 25rem ;">
          <img
            src="../assets/image/cloud22.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title title">
              NEW BEGINNINGS
            </h5>
            <p class="card-text" style="line-height: 2; font-size: 18px">
              It would be quite foolish to ignore the power of content in 2016 After all, "content is king" is what
            </p>
          </div>
          <div class="btn btn-primary">
            <a  routerLink="/new-beginning" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- second card -->
        <div class="card mt-5 card2 border-top1" style="width: 25rem;">
          <img
            src="../assets/image/serverless lembda.jpg"
            class="card-img-top"
            alt="..."
            style="height: 100%"
          />
          <div class="card-body">
            <h5 class="card-title title">
              SERVERLESS FUTURE:CREATING YOUR FIRST AWS LAMBDA FUNCTION
            </h5>
            <p class="card-text" style="line-height: 2; font-size: 18px">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <div class="btn btn-primary ">
            <a href="#" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- third card -->
        <div class="card mt-5  card2 border-top1" style="width: 25rem;">
          
          <img
            src="../assets/image/high-availability-infrastructure-chart.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title title">
              DESIGNING HIGHLY AVAILABLE INFRASTRUCTURE
            </h5>
            <p class="card-text" style="line-height: 2; font-size: 18px">
              Hello world, I'm Rahul and in this edition of my DevOps team blog, I
              would like to share some details .
            </p>
          </div>
          <div class="btn btn-primary">
            <a href="#" class="card-link">Continue Reading >></a>
          </div>
        </div>
        <!-- third card end -->
      </div>
    </section>
  
    
  
  </div>
  
  <!-- link purpose and search purpose  -->
  
