<app-head></app-head>
<app-navbar></app-navbar>

<div>
  <section class="body">
    <div class="container">
      <div class="card mt-5 border-top1" style="width: 100%">
        <img
          src="../assets/image/independence day.jpg"
          class="card-img-top"
          alt="..."
          height="600px"
        />
        <div class="card-body">
          <h5 class="card-title title">WE'RE COMMING HOME!</h5>
          <span class="icon">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook" style="color: rgb(4, 4, 172)"></i
            ></a>
            <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="http://www.google.com"
              ><i class="bi bi-google" style="color: rgb(172, 4, 29)"></i
            ></a>
            <a href="http://www.linkedin.com"
              ><i
                class="bi bi-linkedin"
                style="color: rgba(10, 10, 129, 0.559)"
              ></i
            ></a>
            <a href="http://www.instragram.com"
              ><i class="bi bi-instagram" style="color: brown"></i
            ></a>
            <a href="https://mail.google.com/mail"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(148, 144, 144)"
              ></i
            ></a>
          </span>
          <!-- add calender and logo and authar name  -->
          <p class="card-text">
            A very happy 70th Independence day to everyone! And this year, we're
            migrating home! We're coming back to where it matters.
          </p>
          <p class="card-text">
            Over the years, we have been committed to providing our customers
            robust services backed with the best of technology and IT
            infrastructure to ensure they always have their sites and
            applications up and running with good speeds and uptime. To this
            extent, till date, we have had to choose data centers in the US to
            host our infrastructure on. However, developments over the last few
            years, namely the opening of the AWS data center in Mumbai has now
            made it possible for us to provide the same level of reliability
            that we had committed to our customers in India but at a much faster
            access speed.
          </p>
          <p class="card-text">
            We are excited to announce that over the next couple of weeks, we
            will start migrating all our customers to the AWS cloud
            Infrastructure in the Mumbai region. We have been waiting with bated
            breath for several years now to see this day in action
          </p>

          <p class="card-text">
            The difference our customers will see after migration
          </p>

          <p class="card-text">1. Super Fast load times (low latency)</p>

          <p class="card-text">2. Increased reliability and redundancy</p>

          <p class="card-text">3. Add-on option for Global CDN</p>

          <p class="card-text">
            4. Lots of other new features in the highly scalable cloud
            environment.
          </p>

          <p class="card-text">
            Just to give you a quick idea of the difference in latency, take a
            look at the below screenshots:
          </p>
          <p class="card-text">One of our current servers:</p>
          <img
            src="../assets/image/current-server.png"
            class="card-img-top"
            alt="..."
            height="200px"
          />

          <p class="card-text">One of our mumbai servers:</p>
          <img
            src="../assets/image/mumbai-server.png"
            class="card-img-top"
            alt="..."
            height="200px"
          />
          <p class="card-text">
            As you can see, the response times are 10 times faster than our
            current setup.
          </p>
          <p class="card-text">
            If you are a currently active customer with us, you will be notified
            of when your account will be migrated. Keep a lookout for our email.
            We look forward to have all the migrations completed before the end
            of the month without any downtime.
          </p>
          <p class="card-text">
            If you have any questions or need more information, do raise a
            support ticket through our 
            <a href="https://aws.amazon.com/aws-cost-management/aws-billing/" style="text-decoration: underline; color:brown">billing control panel.</a>
          </p>

          
          <span class="icon">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook" style="color: rgb(4, 4, 172)"></i
            ></a>
            <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="http://www.google.com"
              ><i class="bi bi-google" style="color: rgb(172, 4, 29)"></i
            ></a>
            <a href="http://www.linkedin.com"
              ><i
                class="bi bi-linkedin"
                style="color: rgba(10, 10, 129, 0.559)"
              ></i
            ></a>
            <a href="http://www.instragram.com"
              ><i class="bi bi-instagram" style="color: brown"></i
            ></a>
            <a href="https://mail.google.com/mail"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(148, 144, 144)"
              ></i
            ></a>
          </span>
        </div>
         <div class="nextButton">
          <div class="btn btn-success" style="width: fit-content; float: left">
            <a routerLink="/new-beginning" class="card-link"
              >>>New Begginings>></a
            >
          </div>

          <div class="btn btn-success" style="width: fit-content;float: right;margin-right: 25px; ">
            <a routerLink="/domain-name" class="card-link"
              >>>Preventing Domain Name Fraud>></a
            >
          </div>
        </div>
      </div>

      <!-- third card end -->
    </div>
  </section>
  <app-footer></app-footer>
</div>
