<app-head></app-head>
<app-navbar></app-navbar>

<div>
  <section class="body">
    <div class="container">
      <div class="card mt-5 border-top1" style="width: 100%">
        <img
          src="../assets/image/cloud22.jpg"
          class="card-img-top"
          alt="..."
          height="600px"
        />
        <div class="card-body">
          <h5 class="card-title title">NEW BEGINNINGS !</h5>
          <span class="icon">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook" style="color: rgb(4, 4, 172)"></i
            ></a>
            <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="http://www.google.com"
              ><i class="bi bi-google" style="color: rgb(172, 4, 29)"></i
            ></a>
            <a href="http://www.linkedin.com"
              ><i
                class="bi bi-linkedin"
                style="color: rgba(10, 10, 129, 0.559)"
              ></i
            ></a>
            <a href="http://www.instragram.com"
              ><i class="bi bi-instagram" style="color: brown"></i
            ></a>
            <a href="https://mail.google.com/mail"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(148, 144, 144)"
              ></i
            ></a>
          </span>
          <!-- add calender and logo and authar name  -->
          <p class="card-text">
            It would be quite foolish to ignore the power of content in 2016.
            After all, "content is king" is what they say nowadays. Businesses
            that depend on inbound sales and traffic can no longer look the
            other way and instead must invest most of their time and effort in
            building engaging content that will not only generate inbound sales
            but make their customers love them!
          </p>
          <p class="card-text">
            We've been in business for quite a few years now and admittedly
            generating content hasn't been our forte because the customers that
            walk in through our doors do so through word of mouth and references
            through our existing customers who love our services for its
            reliability and consistency
          </p>
          <p class="card-text">
            Keeping the above points in sight, we are kicking off our blog which
            would be the one stop destination for all the engaging content we
            put out in the areas of Tech, Business, Entrepreneurship and a lot
            more. We hope our users will find the topics here engaging!
          </p>
          <p class="card-text">
            More to come soon...!
          </p>
          <span class="icon">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook" style="color: rgb(4, 4, 172)"></i
            ></a>
            <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="http://www.google.com"
              ><i class="bi bi-google" style="color: rgb(172, 4, 29)"></i
            ></a>
            <a href="http://www.linkedin.com"
              ><i
                class="bi bi-linkedin"
                style="color: rgba(10, 10, 129, 0.559)"
              ></i
            ></a>
            <a href="http://www.instragram.com"
              ><i class="bi bi-instagram" style="color: brown"></i
            ></a>
            <a href="https://mail.google.com/mail"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(148, 144, 144)"
              ></i
            ></a>
          </span>
        </div>
        <div class="nextButton">
          <div
            class="btn btn-success"
            style="width: fit-content; float: right; margin-right: 25px"
          >
            <a routerLink="/comming-home" class="card-link"
              >>> We'ar Comming Home!>></a
            >
          </div>
        </div>
      </div>

      <!-- third card end -->
    </div>
  </section>
  <app-footer></app-footer>
</div>
