<app-head></app-head>
<app-navbar></app-navbar>

<div>
  <section class="body">
    <div class="container">
      <div class="card mt-5 border-top1" style="width: 100%">
        <img
          src="../assets/image/marketplace.jpg"
          class="card-img-top"
          alt="..."
          height="600px"
        />
        <div class="card-body">
          <h5 class="card-title title">
            E - COMMERCE - MAEKETPLACE OR SET UP YOUR SITE?
          </h5>
          <span class="icon">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook" style="color: rgb(4, 4, 172)"></i
            ></a>
            <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="http://www.google.com"
              ><i class="bi bi-google" style="color: rgb(172, 4, 29)"></i
            ></a>
            <a href="http://www.linkedin.com"
              ><i
                class="bi bi-linkedin"
                style="color: rgba(10, 10, 129, 0.559)"
              ></i
            ></a>
            <a href="http://www.instragram.com"
              ><i class="bi bi-instagram" style="color: brown"></i
            ></a>
            <a href="https://mail.google.com/mail"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(148, 144, 144)"
              ></i
            ></a>
          </span>
          <!-- add calender and logo and authar name  -->
          <p class="card-text">
            Let's be honest, actually going shopping physically is slowly
            becoming a thing of the past as e-commerce takes over the market.
            The days of haggling over the price of an item with shopkeepers is
            coming to an end with the ease and comfort of online shopping. These
            days, no one wants to roam around in markets for stuff they can get
            at the click of a button.
          </p>
          <p class="card-text">
            E-commerce sites allow us to buy items of all categories with so
            many varieties that a person will most probably tire before the
            items run out. For businesses, e-commerce is important to keep up
            with customer interests. Sellers need to decide whether they want to
            sell on existing sites like Flipkart, Amazon etc and share their
            profits with them or set up their own e-commerce site to save money
            and maximize profits.
          </p>
          <p class="card-text">
            I think it's fair to say the answer to the above question is a
            rather straight-forward one. Setting up your own e-commerce site has
            numerous benefits as I will highlight later on but initially, these
            are some fundamental points for sellers to ponder upon -
          </p>
          <h5>
            <li>How much does setting up my own e-commerce website cost?</li>
          </h5>
          <h5><li>Customization aspects in relation to the website.</li></h5>
          <h5><li>Sequrity</li></h5>
          <h5><li>Support</li></h5>
          <br />
          <p class="card-text">
            Thanksfully, Ecomm India Cloud IT Takes care of all of these for
            you! We offer you a
            <a
              href="https://www.ecomm.in/ecommerce-shop-setup.html"
              style="color: orangered; text-decoration: underline"
              >world class cloud powered e-commerce plateform</a
            >
            and a choice of powerfull shopping cart application like Magento,
            Prestashop, OpenCart, Woocommerce etc. with free and premium
            template to make your ecommerce store stand out from the crow and
            easy to manage back-end interface highly efficient operations.
            Additionally there are no transaction charges! Hosting your own site
            gives you greater control over what you sell and how you plan to
            sell it. It is a great way to avoid unnecessary expenses like
            transaction charges and listing fees.
          </p>
          <p class="card-text">
            You can do what you want with your own site, and our support teams
            will guide you all the way through it. Furthermore, by hosting your
            own site, you eliminate rival sellers encountered on other sites.
            When buyers come to your site, they can only buy your products!
          </p>

          <p class="card-text">
            With Ecomm India Cloud IT, you can customize your site the way you
            want to - with free themes as well as premium ones. You will decide
            how the site looks, everything from listings to images right down to
            the headers and footers. A fully functional
            <a
              href="https://www.ecomm.in/ecommerce-shop-setup.html"
              style="color: orangered; text-decoration: underline"
            >
              ready to go e-commerce store</a
            >
            can be achieved within a few hours. There are plans for everyone -
            starter, mid-level and pros at competitive prices so you do not need
            to worry about the cost.
          </p>

          <p class="card-text">
            Securing your site becomes a breeze with the option of adding an SSL
            certificate to your store link so that customers know they are
            dealing with a trusted website when they see the green lock symbol
            in the web address bar. Payment security will never be a problem
            with integration support to popular payment gateways such as
            Razorpay, instamojo, PayU, Paytm and CCAvenue. They will ensure a
            seamless and carefree experience for your customers.
          </p>
          <br />

          <p class="card-text">
            In addition to the aforementioned advantages, Ecomm India Cloud IT
            also provides the following perks -
          </p>
          <p class="card-text">
            <b
              >• Aftership Tracking Integration -</b> Customers will be able to
              track all their orders directly from your site and you may even
              send them texts about their order status. So there will never be a
              lost package, ever!
            >
          </p>
          <p class="card-text">
            <b>• Fast setup -</b>Depending on your needs, you could be up and running in under 90 minutes thanks to the easy customization available
              
            
          </p>
          <p class="card-text">
            <b>• Savings -</b> The industry's lowest price of Rs. 399/month for starters. Unlike other providers who charge you for trivial stuff such as the number of products/pictures you upload or even ask for a share of your profit, we only charge you for the bandwidth your store consumes! Everything else is all inclusive.
          </p>
          <p class="card-text">
            <b>• 24/7 Technical Support  -</b> Security and support is step one at Ecomm India Cloud IT. Even your
            smallest doubt/bug will be thoroughly investigated by a team of experts.
          </p>
          <br />


          <p class="card-text">
            If you are convinced about setting up your own e-commerce store, head over to
            <a
              href="https://www.ecomm.in/ecommerce-shop-setup.html "
              style="color: orangered; text-decoration: underline"
              >https://www.ecomm.in/ecommerce-shop-setup.html</a
            >
            for more information such as specific price plans.
          </p>

          
          
         
         
          <p class="card-text">Thanks for reading!.</p>
          <span class="icon">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook" style="color: rgb(4, 4, 172)"></i
            ></a>
            <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="http://www.google.com"
              ><i class="bi bi-google" style="color: rgb(172, 4, 29)"></i
            ></a>
            <a href="http://www.linkedin.com"
              ><i
                class="bi bi-linkedin"
                style="color: rgba(10, 10, 129, 0.559)"
              ></i
            ></a>
            <a href="http://www.instragram.com"
              ><i class="bi bi-instagram" style="color: brown"></i
            ></a>
            <a href="https://mail.google.com/mail"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(148, 144, 144)"
              ></i
            ></a>
          </span>
        </div>
        <div class="nextButton">
          <div class="btn btn-success" style="width: fit-content; float: left">
            <a routerLink="/migration" class="card-link"
              >>>CLOUD MIGRATION - BENEFITS, CHALLENGES AND SOLUTIONS>></a
            >
          </div>

          <div class="btn btn-success" style="width: fit-content">
            <a routerLink="/serverless" class="card-link"
              >>>SERVERLESS FUTURE:Creating your first aws lamda function>></a
            >
          </div>
        </div>
      </div>

      <!-- third card end -->
    </div>
  </section>
  <app-footer></app-footer>
</div>
