<app-head></app-head>
<app-navbar></app-navbar>

<div>
  <section class="body">
    <div class="container">
      <div class="card mt-5 border-top1" style="width: 100%">
        <img
          src="../assets/image/domain-name-frod.png"
          class="card-img-top"
          alt="..."
          height="600px"
        />
        <div class="card-body">
          <h5 class="card-title title">PREVENTING DOMAIN NAME FROD</h5>
          <span class="icon">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook" style="color: rgb(4, 4, 172)"></i
            ></a>
            <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="http://www.google.com"
              ><i class="bi bi-google" style="color: rgb(172, 4, 29)"></i
            ></a>
            <a href="http://www.linkedin.com"
              ><i
                class="bi bi-linkedin"
                style="color: rgba(10, 10, 129, 0.559)"
              ></i
            ></a>
            <a href="http://www.instragram.com"
              ><i class="bi bi-instagram" style="color: brown"></i
            ></a>
            <a href="https://mail.google.com/mail"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(148, 144, 144)"
              ></i
            ></a>
          </span>
          <!-- add calender and logo and authar name  -->
          <p class="card-text">
            Online fraud has existed for well over a decade now and every day
            sees a new type, a new way and a new reason to rob that money from
            your wallets. Over these years, we have been seeing a varying
            degrees of frauds surrounding the use of domain names and one of the
            newer ones have been popping up quite often in the recent times.
          </p>

          <p class="card-text">
            As domain names are a core part of our consumer line of services,
            imagine our surprise when we got an email claiming that our domain
            name was going to expire if we didn't pay up soon! The email we
            received went something like this:
          </p>
          <img
            src="../assets/image/FROD.png"
            class="card-img-top"
            alt="..."
            height="1000px"
          />
          <p class="card-text">
            The question we asked ourselves when looking at this was: Wait...
            what? you want us to pay you for a domain which we own, we manage
            and we renew ourselves?
          </p>

          <p class="card-text">
            The email reminds us with <b>BOLD </b>letters and
            <b style="color: rgb(229, 120, 138)">CT IMMEDIATELY</b> messages
            that our domain registration is going to expire and we must take
            quick action if we are save ourselves from doom! This clearly falls
            under phishing fraud. The immediate thought we had was, if we as a
            domain provider are getting these sort of emails for our own domain,
            it was most likely that all our customers would eventually receive
            this as well and many who aren't aware of phishing frauds were most
            likely to fall prey to this. Which is why we are doing this blog
            post, to inform you that you should <b>NOT</b> under any
            circumstances reply or make any sort of payments on emails like
            this.
          </p>
          <p class="card-text">
            Firstly, stay calm, none of your information has been compromised
            nor is it happening because your domain is currently hosted with us.
            This information is picked up from the public whois registry which
            shows the registrant information of every domain name. For example,
            you could go to this link and type in your domain name to see what
            information is displayed to the public:
            <a
              href="http://www.whois.com/whois/ "
              style="color: brown; text-decoration: underline"
              >http://www.whois.com/whois/</a
            >
          </p>
          <p class="card-text">
            As you would have noticed, the email appears believable to some
            extent because it has information that you recognize. This is the
            premise of many phishing emails, getting you to believe that the
            email is genuine by including information that you would recognize.
            However, this is publicly available information in the whois
            database and this is what they use to trick you into paying for the
            service because, hey, no one likes loosing their domain name!
            Although the email itself says it is for SEO registration renewal,
            the way the email has been formatted is primarily focusing on the
            word "Domain" to confuse you into thinking your domain itself needs
            renewal rather than a service associated with your domain needing
            renewal.
          </p>
          <br />
          <p class="card-text">
            Futher more, if you look at the link in the email, you will see
            this:
          </p>
          <img
            src="../assets/image/domain-frod1.png"
            class="card-img-top"
            alt="..."
            height="500px"
          />

          <p class="card-text">
            And sure enough, it leads you to a domain "differingt.... org" (we
            do not want to link to the domain, hence scrambled). But it
            obviously tries to confuse you into believing it is genuine by
            including your domain name in the front of the fraudulent domain
            name. Once you open it up, here is what you get:
          </p>
          <img
            src="../assets/image/domain-seo.png"
            class="card-img-top"
            alt="..."
            height="300px"
          />
          <p class="card-text">
            You would almost believe it to be true with such a clean payment
            interface! The next page leads you to enter your credit card details
            in the payment form. Now, here is the important part. You would
            think that even if you made the mistake of paying for it, that would
            be the end of it and you could move on. Nope! Remember, this is a
            fraud scheme and you just entered your your Credit Card details with
            your CVV number on a site they control, which means, they aren't
            going to charge you $64, they are probably going to end up making
            hundreds of dollars worth of purchases on your card back to back
            faster than you could block it because that is their real intention.
            They have nothing to do with any SEO service or your domain name
            whatsoever. They just want your Card number and CVV for making
            fraudulent purchases.
          </p>
          <p class="card-text">
            Here are the important takeaways:
          </p>

          <p class="card-text">
            1. If you ever get any emails like this, please do not reply to it or click on any of the links.
            <br>
            2. Email our support team separately asking if the email you received is genuine or not.
            <br>
            3. Under no circumstances should you pay for any such schemes that ask you for your money via email.
            <br>
            4. Remember the renewal dates of your domain name as mostly they do not match.
            <br>
            5. If for any reason, you have already fallen prey to this, please have your credit card blocked immediately.
            <br>
            6. Update your domain whois records if you feel their is too much personalized information in it.
          </p>
          <p class="card-text">
            Share this with your friends that have domain names with other providers as well and keep them safe from these types of frauds.
          </p>
          <p class="card-text">
            We hope this post has been informational and if you do have any questions, please do not hesitate to open up a support ticket or email support or even give us a call.
          </p>
          
          <span class="icon">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook" style="color: rgb(4, 4, 172)"></i
            ></a>
            <a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="http://www.google.com"
              ><i class="bi bi-google" style="color: rgb(172, 4, 29)"></i
            ></a>
            <a href="http://www.linkedin.com"
              ><i
                class="bi bi-linkedin"
                style="color: rgba(10, 10, 129, 0.559)"
              ></i
            ></a>
            <a href="http://www.instragram.com"
              ><i class="bi bi-instagram" style="color: brown"></i
            ></a>
            <a href="https://mail.google.com/mail"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(148, 144, 144)"
              ></i
            ></a>
          </span>
        </div>
        <div>
        <div class="btn btn-success" style="width: fit-content; float:left">
          <a routerLink="/migration" class="card-link"
            >>>Cloud migration-benifit challenges and solution>></a
          >
        </div>
        
      </div>
      </div>

      <!-- third card end -->
    </div>
  </section>
  <app-footer></app-footer>
</div>
